.features41-layout301 {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features41-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.features41-text10 {
  font-size: 48px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
 
.features41-text11 {
  font-style: normal;
  font-weight: 600;
  line-height: 0.1;
  padding-bottom: 0px;
}
 
.features41-text12 {
  line-height: 0.1;
}
 
.features41-row {
  width: 100%;
}
 
.features41-feature1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features41-content1 {
  align-self: stretch;
  align-items: center;
}
 
.features41-section-title1 {
  align-self: stretch;
  align-items: center;
}
 
.features41-title1 {
  font-size: 24px;
  text-align: center;
}
 
.features41-description1 {
  text-align: center;
}
 
.features41-feature2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features41-content2 {
  align-self: stretch;
  align-items: center;
}
 
.features41-section-title2 {
  align-self: stretch;
  align-items: center;
}
 
.features41-title2 {
  font-size: 24px;
  text-align: center;
}
 
.features41-description2 {
  text-align: center;
}
 
.features41-feature3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features41-content3 {
  align-self: stretch;
  align-items: center;
}
 
.features41-section-title3 {
  align-self: stretch;
  align-items: center;
}
 
.features41-title3 {
  font-size: 24px;
  text-align: center;
}
 
.features41-description3 {
  text-align: center;
}
 
.features41-feature41 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features41-content4 {
  align-self: stretch;
  align-items: center;
}
 
.features41-section-title4 {
  align-self: stretch;
  align-items: center;
}
 
.features41-title41 {
  font-size: 24px;
  text-align: center;
}
 
.features41-description41 {
  text-align: center;
}
 
.features41-feature42 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features41-content5 {
  align-self: stretch;
  align-items: center;
}
 
.features41-section-title5 {
  align-self: stretch;
  align-items: center;
}
 
.features41-title42 {
  font-size: 24px;
  text-align: center;
}
 
.features41-description42 {
  text-align: center;
}
 
.features41-feature43 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features41-content6 {
  align-self: stretch;
  align-items: center;
}
 
.features41-section-title6 {
  align-self: stretch;
  align-items: center;
}
 
.features41-title43 {
  font-size: 24px;
  text-align: center;
}
 
.features41-description43 {
  text-align: center;
}
 
.features41-fragment10 {
  display: contents;
}
 
.features41-text13 {
  display: inline-block;
}
 
.features41-fragment11 {
  display: contents;
}
 
.features41-text14 {
  display: inline-block;
}
 
.features41-fragment12 {
  display: contents;
}
 
.features41-text15 {
  display: inline-block;
}
 
.features41-fragment13 {
  display: contents;
}
 
.features41-text16 {
  display: inline-block;
}
 
.features41-fragment14 {
  display: contents;
}
 
.features41-text17 {
  display: inline-block;
}
 
.features41-fragment15 {
  display: contents;
}
 
.features41-text18 {
  display: inline-block;
}
 
.features41-fragment16 {
  display: contents;
}
 
.features41-text19 {
  display: inline-block;
}
 
.features41-fragment17 {
  display: contents;
}
 
.features41-text20 {
  display: inline-block;
}
 
.features41-fragment18 {
  display: contents;
}
 
.features41-text21 {
  display: inline-block;
}
 
.features41-fragment19 {
  display: contents;
}
 
.features41-text22 {
  display: inline-block;
}
 
.features41-fragment20 {
  display: contents;
}
 
.features41-text23 {
  display: inline-block;
}
 
.features41-fragment21 {
  display: contents;
}
 
.features41-text24 {
  display: inline-block;
}
 
.features41-fragment22 {
  display: contents;
}
 
.features41-text25 {
  display: inline-block;
}
 
.features41-fragment23 {
  display: contents;
}
 
.features41-text26 {
  display: inline-block;
}
 
.features41-fragment24 {
  display: contents;
}
 
.features41-text27 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features41-row {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .features41-feature1 {
    width: 100%;
  }
  .features41-feature2 {
    width: 100%;
  }
  .features41-feature3 {
    width: 100%;
  }
  .features41-feature41 {
    width: 100%;
  }
  .features41-feature42 {
    width: 100%;
  }
  .features41-feature43 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .features41-text10 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .features41-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
